body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(71, 71, 71);
}

.flex-container {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: rgb(82, 164, 231);
}


h2 {
    font-size: 3rem;
    font-weight: 900;
}

h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}
h4 {
    margin: 8px 0;
    font-weight: bold;
    font-size: 1.5rem;
}
p {
    margin: 8px 0;
    font-size: 1.2rem;;
    font-weight: normal;
    line-height: 1.4;
}
.heading {
    margin-top: 0;
    padding: 32px;
}

header {
    height: 64px;
    position: fixed;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    z-index: 1;
}

.logo{
    padding-left: 24px;
    height: 32px;
    align-items: center;
}

.logo p {
    font-weight: normal;
}

.logo span {
    font-weight: bold;
}
nav img {
    display: none;
}

nav {
    padding-right: 16px;
}
nav span {
    margin: 0 8px;
}

nav span a {
    font-size: 0.9rem;
    color: rgb(71, 71, 71);
}

.main {
    position: relative;
    top: 66px;
    margin: auto;
}

/*banner*/

.banner {
    background-color: silver;
}

.banner .button {
    margin-top: 32px;
    width: 66%;
    background-color: rgb(71, 71, 71);
    padding: 1rem;
    color: white;
    text-align: center;
}

/*information and thesis*/
.left {
    width: 60%;
    padding: 32px 24px;
}
.information .left {
    border-right: 1px solid silver;
}

.left .media-container img, .left .media-container video {
    width: 100%;
}

.right {
    width: 40%;
}

.information .right .row {
    border-bottom: 1px solid silver;
}

.information h3 {
    text-align: left;
}

.right .row .mini-img {
    width: 35%;
    margin: 16px;
}
.right .row .content {
    width: 65%;
}

.right .row .mini-img img {
    width: 100%;
}

.right .row.silver.flex-container {
    background-color: silver;
}


/*grid*/
.learning {
    background-color: silver;
}

.learning .grid-container {
    padding: 0 72px 32px 72px;
}

.learning .box {
    flex-direction: column;
    background-color: white;
    align-items: flex-start;
}

.learning .box img {
    width: 100%;
}
.learning .box .content {
    padding: 24px 16px;
}

.learning .grid {
    display: grid;
    width: 100%;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 32px 32px;
}

/*thesis*/
.thesis {
    align-items: flex-start;
    border-bottom: 1px solid silver;
}

.thesis .right {
    position: relative;
    top: 32px;
}

/*footer*/

footer {
    position: relative;
    top: 66px;
    justify-content: space-between;
}

footer h6 {
    padding: 16px 24px;
}

@media only screen and (max-width: 480px){
* {
    max-width: 480px;
}
.main .flex-container {
    flex-direction: column;
}

/*header*/

header {
    justify-content: space-around;
}

header .logo p {
    display: none;
}

header nav img {
    display: inherit;
}
header nav a {
    display: none;
}

/*banner*/
.left, .right {
    width: 100%
}

/*information*/

.information .left {
    display: none;
}
.information .row.silver.flex-container,{
    background-color: white;
}

/*grid*/

.learning {
    background-color: white;
}

.learning .grid {
    grid-template: repeat(6, 1fr) / 1fr;
}

/*thesis*/

.thesis .right, .thesis .left .content {
    display: none;
}






}

