body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(71, 71, 71);
}

.flex-container {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: rgb(82, 164, 231);
}


h2 {
    font-size: 3rem;
    font-weight: 900;
}

h3 {
    font-size: 2rem;
    font-weight: 900;
}
p {
    font-size: 1rem;;
    font-weight: normal;
}

header {
    height: 64px;
    position: fixed;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    z-index: 1;
}

.logo{
    padding-left: 24px;
    height: 32px;
    align-items: center;
}

.logo p {
    font-weight: normal;
}

.logo span {
    font-weight: bold;
}

nav {
    padding-right: 16px;
}
nav span {
    margin: 0 8px;
}

nav span a {
    font-size: 0.9rem;
    color: rgb(71, 71, 71);
}

.main {
    position: relative;
    top: 66px;
    margin: auto;
}

/*banner*/

.banner {
    background-color: silver;
}

.banner p {
    font-weight: bold;
    font-size: 1.5rem;
}

.banner .img-container{
    width: 60%;
    padding: 32px 24px;

}
.banner .img-container img {
    width: 100%;
}

.banner .learn .button {
    width: 100%;
    background-color: rgb(71, 71, 71);
    padding: 1rem;
    color: white;
    text-align: center;
}

/*information*/

.information .left {
    width: 60%;
    padding: 32px 24px;
    border-right: 1px solid silver;
}
.information p {
    font-size: 1rem;;
    font-weight: normal;
}

.information h4 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 4px;
}
.information  p {
    margin: 4px 0 8px 0;
}
.information img {
    width: 100%;
}

.information .right {
    width: 40%;
}
.information .right .mini-img {
    width: 35%;
    margin: 16px;
}

.information .row {
    border-bottom: 1px solid silver;
    align-items: center;
}

.row.silver.flex-container {
    background-color: silver;
}

/*grid*/
.learning {
    background-color: silver;
}

.learning h3 {
    text-align: center;
    margin-top: 0;
    padding: 32px;
}
.learning .grid-container {
    padding: 0 72px 32px 72px;
}

.learning .box {
    flex-direction: column;
    background-color: white;
    align-items: flex-start;
}

.learning .box img {
    width: 100%;
}
.learning .box .content {
    padding: 24px 16px;
}

.learning .grid {
    display: grid;
    width: 100%;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 32px 32px;
}




