body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
}

header {
    height: 64px;
    position: fixed;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
}

.logo{
    padding-left: 24px;
    height: 32px;
    align-items: center;
}

.logo span {
    font-weight: bold;
}

nav {
    padding-right: 16px;
}
nav span {
    margin: 0 8px;
}

nav span a {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
}
nav span a:hover {
    background-color: whitesmoke;
    border-radius: 50%;
}